.font {
    font-family: "Lucida Console", "Courier New", 'monospace';
}

.flex-container {
    display: flex;
}

.flex-child {
    flex: 1;
}  

a {
    text-decoration: none;
}

.oval {
    border-radius: 50%;
    margin-top: 5%;
}