#btnPrint{
    margin-left: 20px;
}

.callRecord{
    border-radius: 8px;
    border: 2px solid #0044cc; 
    border-style: inset;
    margin-left: 50px;
    margin-right: 50px;
}

.Details{
    display: flex;
    padding: 10px 20px 10px 20px;
}

.key{
    color:#0044cc;
    padding-right: 10px;
    font-size: 22px;
}

.value{
    font-size: 22px
}