    .wrapper1 {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
    }
    
    @media screen and (max-width: 1024px) {
        .wrapper1 {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
        }
    }
    
    @media screen and (max-width: 650px) {
        .wrapper1 {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 5px;
        }
    }