.apt1 {
    background-color: white;
    width: 30%;
    margin-left: auto;
    box-shadow: 0px 0px 3px 3px #999;
    margin-right: auto;
    top: 70px;
}

@media screen and (max-width: 1024px) {
    .apt1 {
        width: 60%;
    }
}

@media screen and (max-width: 650px) {
    .apt1 {
        width: 80%;
    }
}